.content__text {
    font-size: 1.125rem;
    color: var(--main-text-color);
}

.content__text p {
    margin: 0 0 1rem 0;
    line-height: 1.4;
}

.content__text p:last-child {
    margin-bottom: 0;
}