.categories__category {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.25s linear 0s;
}

.categories__category:hover {
    transform: scale(1.025);
}