.categories__category-image {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    aspect-ratio: 16 / 9;
}

.categories__category-image img,
.categories__category-image picture {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}