.products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    max-width: 340px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--product-bg-color);
    border: 4px solid var(--product-border-color);
}