.products__details-link {
    display: flex;
	align-items: center;
	justify-content: center;
    padding: .5rem;
	font-size: 1rem;
	background-color: var(--product-details-bg-color);
	transition: all 0.2s ease 0s;
}

.products__details-link:active {
	background-color: var(--product-details-bg-darker-color);
}