.products__details-button {
	padding: 8px;
	font-size: 15px;
	background-color: var(--product-details-bg-color);
	transition: all 0.2s ease 0s;
}

.products__details-button:active {
	background-color: var(--product-details-bg-darker-color);
}

.products__details-button a {
	color: var(--product-details-link-color);
}