.footer__column-list li a {
    color: var(--footer-text-color);
    font-size: 19px;
    transition: all 0.2s ease 0s;
}

.footer__column-list li a:active {
    color: var(--footer-light-text-color);
}

.footer__column-list li {
    margin: 0 0 7px 0;
}

/* null last element's margin */
.footer__column-list li:last-child {
    margin: 0;
}